html, body {
  margin: 0;
  padding: 0;
  background-color: #d2d5dc;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 3rem;
}

ul {
  font-size: 1.5rem;
}

li {
  display: flex;
}

li div {
  width: 100px;
}

button {
  font-size: .875rem;
  line-height: 1.25rem;
  border-radius: .5rem;
  background-color: #1c64f3;
  color: rgb(255 255 255);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: .625rem;
  padding-top: .625rem;
  border: none;
  margin-inline-end: .5rem;
  margin-bottom: .5rem;
  cursor: pointer;
  text-transform: none;
  height: 40px;
}

button:hover {
  background-color: rgb(27 86 219);
}
